<% if @open_secrets.find_by(secret_unveil_to: @role, unveiled_id: 2, secret_id: s.id) != nil ||
      @role == 200 ||
      @role == selected_char.pc_number %>
  <div class="bubble-list">
    <button class="unveiled", data-target="unveil-secret<%=num%>-<%=s.secret_n%>"><%= "秘密#{s.secret_n}" %></button>
    <%= render "open_secrets/open_secret", num: num, s: s %>

    <%# 秘密編集モーダル表示 %>
    <% if @role == 200 %>
      <button class="edit-charinfo-btn", data-target="edit-secret<%= num %>-<%= s.secret_n %>">編集</button>
      <%= render "secrets/edit_secret", num: num, token: @room.token, selected_char: selected_char, s: s %>
    <% end %>
    <%# 秘密編集モーダル表示 %>
  </div>
<% end %>