<div class="wrap-char-form" id="unveil-secret<%=num%>-<%=s.secret_n%>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <div class="form-title">
      PC<%=num%>の秘密
    </div>
    <div class="form-contents">
      <div class="unveil-content", id="show-secret-<%=num%>-<%=s.secret_n%>">
        <%= s.secret %>
      </div>
    </div>
  </div>
</div>