<div class="wrap-char-form" id="edit-char-name<%= num %>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
  <% @char = selected_char %>
    <%= form_with model: @char, url: room_character_path(id: selected_char.id, room_token: token), method: :patch, local: true do |f| %>
      <div class="form-title">
        キャラクター名変更
      </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:num] == num %>
          <div class="error-msg">
            <ul>
              <li><%= "キャラクター名を入力してください。" %></li>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label "キャラクター名" %><br />
          <%= f.text_field :character_name, value: selected_char.character_name, class: "character_box" %>
        </div>
        <div class="hidden-item">
          <%= f.text_field :pc_number, value: num %>
        </div>
        <button class="add-btn">
          <%= f.submit "変更" %>
        </button>
      </div>
    <% end %>
  </div>
</div>