<div class="wrap-char-form" id="edit-secret<%= num %>-<%= s.secret_n %>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <% @edit_secret = s %>
    <%= form_with model: @edit_secret, url: room_secret_path(id: s.id, room_token: token), method: :patch do |f| %>
      <div class="form-title">
        秘密<%=s.secret_n%>の編集
      </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:match] == "secret#{num}" %>
          <div class="error-msg">
            <ul>
              <li><%= "秘密を入力してください。" %></li>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <label for="esl-<%=num%>-<%=s.secret_n%>">秘密</label><span class="required-items"> 必須</span><br />
          <%= f.text_area :secret, placeholder: "秘密を入力", value: s.secret, class: "long_text_box", id: "esl-#{num}-#{s.secret_n}" %>
        </div>
        <%= f.hidden_field :character_id, value: selected_char.id, id: "e-sci-#{num}-#{s.secret_n}" %>
        <%= f.hidden_field :pc_number, value: num, id: "e-spn-#{num}-#{s.secret_n}" %>
        <%= f.hidden_field :secret_n, value: s.secret_n, id: "e-sn-#{num}-#{s.secret_n}" %>
      </div>
      <button class="add-btn">
        <%= f.submit "編集" %>
      </button>
    <% end %>

      <div class="form-title">
        公開・非公開の設定
      </div>
      <div class="form-contents">
        <div class="field">
          <% @characters.each do |char| %>
            <% if char.character_name != selected_char.character_name %>
              <div class="del-list">
                <% @open_secrets.each do |o_s| %>
                  <% if o_s.secret_id == s.id && char.pc_number == o_s.secret_unveil_to %>
                    <%= char.character_name %>
                    <div class="secret_unveil_box" data-id=<%= o_s.id %> data-token=<%= token %>>
                      <span data-unveil=<%= o_s.unveiled_id %>><%=o_s.unveiled.name%></span>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>