<div class="wrap-char-form" id="add-secret<%= num %>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <%= form_with model: @add_secret, url: room_secrets_path(room_token: token), method: :post do |f| %>
      <div class="form-title">
        秘密情報追加
      </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:match] == "secret#{num}" %>
          <div class="error-msg">
            <ul>
              <li><%= "秘密を入力してください。" %></li>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label "秘密" %><span class="required-items"> 必須</span><br />
          <%= f.text_area :secret, placeholder: "秘密を入力", class: "long_text_box", id: "asltb-#{num}" %>

          <%= f.hidden_field :character_id, value: selected_char.id, id: "asci-#{num}" %>
          <%= f.hidden_field :pc_number, value: num, id: "aspn-#{num}" %>
          <%= f.hidden_field :secret_n, value: secret_n, id: "assn-#{num}" %>
        </div>
        <button class="add-btn">
          <%= f.submit "追加" %>
        </button>
      </div>
    <% end %>
  </div>
</div>