<div class="status_over_frame", data-target="secret-info<%= num %>">
  <div class="status_name">
    秘密
  </div>
  <div class="secret_bubble", id="secret-info<%= num %>">
    <div class="char-upper-display">
      <%# 秘密追加モーダル表示 %>
      <% if @role == 200 %>
        <div>
          <button class="add-charinfo-btn", data-target="add-secret<%= num %>">秘密追加</button>
          <% secret_n = @secrets.where(character_id: selected_char.id).length + 1 %>
          <%= render "secrets/secret_form", num: num, token: @room.token, selected_char: selected_char, secret_n: secret_n %>
        </div>
      <% end %>
      <%# 秘密追加モーダル表示 %>

      <%# 秘密公開モーダル表示 %>
      <% @secrets.each do |s| %>
        <% if selected_char.id == s.character_id %>
          <% if @open_secrets.find_by(secret_unveil_to: @role, unveiled_id: 2, secret_id: s.id) != nil ||
                @role == 200 ||
                @role == selected_char.pc_number %>
            <div class="bubble-list">
              <button class="unveiled", data-target="unveil-secret<%=num%>-<%=s.secret_n%>"><%= "秘密#{s.secret_n}" %></button>
              <%= render "open_secrets/open_secret", num: num, s: s %>
      <%# 秘密公開モーダル表示 %>

      <%# 秘密編集モーダル表示 %>
              <% if @role == 200 %>
                <button class="edit-charinfo-btn", data-target="edit-secret<%= num %>-<%= s.secret_n %>">編集</button>
                <%= render "secrets/edit_secret", num: num, token: @room.token, selected_char: selected_char, s: s %>
              <% end %>
      <%# 秘密編集モーダル表示 %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>