<% selected_char = "" %>

<% @characters.each do |char| %>
  <% if char.pc_number == num %>
    <% selected_char = char %>
    <% break %>
  <% end %>
<% end %>

<div class="middle_status_frame">

  <% if selected_char == "" %>
    <%#    キャラクター情報未入力時    %>
    <div class="upper_status_frame">
      <div class="pc_number">
        <%= "PC#{num}" %>
      </div>
    </div>
    
    <div class="lower_status_frame">
      <% if user_signed_in? %>
        <button class="input_char_info", data-target="form-bg<%= num %>">
          キャラクター情報を入力
        </button>
        <%= render "form", num: num, token: @room.token %>
      <% else %>
        <br />キャラクター情報未入力
      <% end %>
    </div>
    <%#    キャラクター情報未入力時    %>

  <% else %>

    <%#    キャラクター情報入力済みのとき    %>
    <div class="character_name_frame">
      <button class="character_name", data-target="edit-char-name<%= num %>">
        <%= selected_char.character_name %>
      </button>
      <% if user_signed_in? %>
        <%= render "char_name_form", num: num, token: @room.token, selected_char: selected_char %>
      <% end %>
    </div>

    <div class="status_frame">
      <div class="upper_status_frame">
        <div class="status_over_frame", data-target="secret-info<%= num %>">
          <div class="status_name">
            秘密
          </div>
          <div class="secret_bubble", id="secret-info<%= num %>">
            <div class="char-upper-display">
              <ul>
                <div>
                <button class="add-charinfo-btn", data-target="add-secret<%= num %>">秘密追加</button>
                <%= render "secret_form", num: num, token: @room.token, selected_char: selected_char, secret_n: @secrets.length + 1 %>
                </div>
                <% @secrets.each do |s| %>
                  <% if selected_char.id == s.character_id %>
                  <li class="bubble-list">
                    <%= "秘密#{s.secret_n}" %>
                  </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div class="status_over_frame", data-target="last-resort-info<%= num %>">
          <div class="status_name">
            奥義
          </div>
          <div class="last_resort_bubble", id="last-resort-info<%= num %>">
            <div class="char-upper-display">
              <ul>
                <div>
                <button class="add-charinfo-btn", data-target="add-last-resort<%= num %>">奥義追加</button>
                <%= render "last_resort_form", num: num, token: @room.token, selected_char: selected_char, lr_n: @last_resorts.length + 1 %>
                </div>
                <% @last_resorts.each do |s| %>
                  <% if selected_char.id == s.character_id %>
                    <li class="bubble-list">
                    <%= "奥義#{s.last_resort_n}" %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="lower_status_frame">
        
        <div class="status_over_frame", data-target="condition-info<%= num %>">
          <div class="status_name">
            変調
          </div>
            <div class="condition_bubble", id="condition-info<%= num %>">
              <div class="char-lower-display">
                <button class="add-charinfo-btn", data-target="add-condition<%= num %>">
                  変調追加
                </button>
                <%= render "condition_form", num: num, token: @room.token, selected_char: selected_char %>
                <% @conditions.each do |con| %>
                  <% if con.character_id == selected_char.id %>
                    <div class="bubble-list">
                      <div>
                        <%= con.state.name %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>

        <div class="status_over_frame", data-target="feeling-info<%= num %>">
          <div class="status_name">
            感情
          </div>
          <div class="feeling_bubble", id="feeling-info<%= num %>">
            <div class="char-lower-display">
              <button class="add-charinfo-btn", data-target="add-feeling<%= num %>">
                感情追加
              </button>
              <%= render "feeling_form", num: num, token: @room.token, selected_char: selected_char %>
              <% @feelings.each do |fe| %>
                <% if fe.character_id == selected_char.id %>
                  <div class="bubble-list">
                    <div class="feeling_contents">
                      <div><%= fe.feel.name %></div>
                      <div>↓</div>
                      <div><%= fe.feeling_to %></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%#    キャラクター情報入力済みのとき    %>
  <% end %>
</div>