<% selected_char = @characters.find_by(pc_number: num) %>

<div class="middle_status_frame">

  <% if selected_char.nil? %>
    <%#    キャラクター情報未入力時    %>
    <div class="upper_status_frame">
      <div class="pc_number">
        <%= "PC#{num}" %>
      </div>
    </div>
    
    <div class="lower_status_frame">
      <% if @role == 200 %>
        <button class="input_char_info", data-target="form-bg<%= num %>">
          キャラクター情報を入力
        </button>
        <%= render "characters/form", num: num, token: @room.token %>
      <% else %>
        <br />キャラクター情報未入力
      <% end %>
    </div>
    <%#    キャラクター情報未入力時    %>

  <% else %>

    <%#    キャラクター情報入力済みのとき    %>

    <%# キャラクター名 %>
    <div class="character_name_frame">
      <%= render "characters/show_name", num: num, selected_char: selected_char %>
    </div>
    <%# キャラクター名 %>

    <div class="status_frame">
      <div class="upper_status_frame">
        
        <%# 秘密情報 %>
        <%= render "secrets/show_secret", num: num, selected_char: selected_char %>
        <%# 秘密情報 %>

        <%# 奥義情報 %>
        <%= render "last_resorts/show_last_resort", num: num, selected_char: selected_char %>
        <%# 奥義情報 %>

      </div>
      <div class="lower_status_frame">

        <%# 変調情報 %>
        <%=render "conditions/show_condition", num: num, selected_char: selected_char %>
        <%# 変調情報 %>

        <%# 感情情報 %>
        <%=render "feelings/show_feeling", num: num, selected_char: selected_char %>
        <%# 感情情報 %>

      </div>
    </div>
    <%#    キャラクター情報入力済みのとき    %>
  <% end %>
</div>