<div class="wrap-char-form" id="edit-secret<%= num %>-<%= s.secret_n %>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <% @edit_secret = s %>
    <%= form_with model: @edit_secret, url: room_secret_path(id: s.id, room_token: token), method: :patch, local: true do |f| %>
      <div class="form-title">
        秘密<%=s.secret_n%>の編集
      </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:match] == "secret#{num}" %>
          <div class="error-msg">
            <ul>
              <li><%= "秘密を入力してください。" %></li>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label "秘密" %><span class="required-items"> 必須</span><br />
          <%= f.text_area :secret, placeholder: "秘密を入力", value: s.secret, class: "long_text_box" %>
        </div>
        <%= f.hidden_field :character_id, value: selected_char.id %>
        <%= f.hidden_field :pc_number, value: num %>
        <%= f.hidden_field :secret_n, value: s.secret_n %>
      </div>
      <button class="add-btn">
        <%= f.submit "編集" %>
      </button>
    <% end %>

    <%= form_with url: room_open_secret_path(id: s.id, room_token: token), method: :patch, local: true do |f| %>
      <div class="form-title">
        公開・非公開の設定
      </div>
      <div class="form-contents">
        <div class="field">
            <% @characters.each do |char| %>
              <% if char.character_name != selected_char.character_name %>
                <div class="del-list">
                  <% @open_secrets.each do |o_s| %>
                    <% if o_s.secret_id == s.id && char.pc_number == o_s.secret_unveil_to %>
                      <%= f.text_field :secret_unveil_to, value: char.character_name, readonly: true %>
                      <button class="open_close_box">
                        <%= f.select :secret_unveiled, [['公開', false], ['非公開', true]], {selected: o_s.secret_unveiled}%>
                      </button>
                      <%= f.hidden_field :secret_id, value: s.id %>
                      <%= f.hidden_field :open_secret_id, value: o_s.id %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
      <button class="add-btn">
        <%= f.submit "編集" %>
      </button>
    <% end %>
  </div>
</div>