<div class="wrap-char-form" id="edit-secret<%= num %>-<%= s.secret_n %>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <%= form_with url: room_secret_path(id: selected_char.id, room_token: token), method: :patch, local: true do |f| %>
      <div class="form-title">
        秘密<%=s.secret_n%>の編集
      </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:match] == "secret#{num}" %>
          <div class="error-msg">
            <ul>
              <li><%= "秘密を入力してください。" %></li>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label "秘密" %><span class="required-items"> 必須</span><br />
          <%= f.text_area :secret, placeholder: "秘密を入力", value: s.secret, class: "long_text_box" %>
        </div>
        <div class="hidden-item">
          <%= f.text_field :character_id, value: selected_char.id %>
          <%= f.text_field :pc_number, value: num %>
          <%= f.text_field :secret_n, value: s.secret_n %>
        </div>
      </div>

      <div class="form-title">
        公開・非公開の設定
      </div>
      <% open_close = ["公開", "非公開"] %>
      <div class="form-contents">
        <div class="field">
            <% @characters.each do |char| %>
              <% if char != selected_char %>
                <div class="del-list">
                  <%= f.text_field :secret_open_to, value: char.character_name %>
                  <%= f.select :opened, open_close, {}, {class: "open_close_box"}%>
                </div>
              <% end %>
            <% end %>
          <div class="hidden-item">
            <%= f.text_field :secret_id, value: s.id %>
          </div>
        </div>
      </div>
      <button class="add-btn">
        <%= f.submit "編集" %>
      </button>
    <% end %>
  </div>
</div>