<div class="wrap-char-form" id="form-bg2<%= num %>">
  <div class="form-background"></div>
  <div class="condition-form">
    <%= form_with model: @feeling, url: room_feelings_path(room_token: token), method: :post, local: true do |f| %>
      <div class="form-title">
          感情情報入力
        </div>
      <div class="feeling-form-contents">
        <div class="hidden-error">
          エラー：感情を選択してください。
        </div>
        <div class="field">
          <%= f.label "感情" %><br />
          <%= f.collection_select(:feel_id, Feel.all, :id, :name, {}, {class: "select_box"}) %>
        </div>
        <div class="arrow-shape">↓</div>
        <div class="field">
          <%= f.label "誰に" %><br />
          <% char_names = [] %>
          <% @characters.each do |char| %>
                <% if char != selected_char %>
                  <% char_names << char.character_name %>
                <% end %>
              <% end %>
          <%= f.select :feeling_to, char_names, {}, {class: "select_box"}%>
          <%# <div class="select_box"> %>
            <%# <select name="feeling_to"> %>
              
            <%# </select> %>
          <%# </div> %>
        </div>
        <div class="hidden-item">
          <%= f.text_field :character_id, value: selected_char.id %>
        </div>
        <button class="add-btn">
          <%= f.submit "追加" %>
        </button>
      </div>
    <% end %>
  </div>
</div>