<div class="wrap-char-form" id="form-bg<%= num %>">
  <div class="form-background"></div>
  <div class="char-form">
    <%= form_with model: @character_info, url: room_characters_path(room_token: token), local: true do |f| %>
      <div class="form-title">
          キャラクター情報登録
        </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:reenter] == num %>
          <div class="error-msg">
            <ul>
            <% flash[:error].each do |message| %>
              <% case message %>
              <% when "Character name can't be blank" %>
              <li><%= "キャラクター名を入力してください。" %></li>
              <% when "Secret can't be blank" %>
              <li><%= "秘密を入力してください。" %></li>
              <% when "Last resort can't be blank" %>
              <li><%= "奥義を入力してください。" %></li>
              <% end %>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label "キャラクター名" %><br />
          <%= f.text_field :character_name, placeholder: "キャラクター名を入力", class: "character_box" %>
        </div>
        <div class="field">
          <%= f.label "秘密" %><br />
          <%= f.text_area :secret, placeholder: "秘密を入力", class: "long_text_box" %>
        </div>
        <div class="field">
          <%= f.label "奥義" %><br />
          <%= f.text_area :last_resort, placeholder: "奥義を入力", class: "long_text_box" %>
        </div>
        <div class="hidden-item">
          <%= f.text_field :pc_number, value: num %>
          <%= f.text_field :secret_n, value: 1 %>
          <%= f.text_field :last_resort_n, value: 1 %>
        </div>
        <button class="add-btn", data-target="char-error<%= num %>">
          <%= f.submit "追加" %>
        </button>
      </div>
    <% end %>
  </div>
</div>