<%= render "shared/header" %>

<div class="outer-form-wrap">
  <div class="form-wrap">
    <div class="form-title">
    概要
    </div>
    <div class="sentences">
      「忍びアシスト」は、河嶋陶一朗/冒険企画局さま作、忍術バトルRPG「シノビガミ」を遊ぶ際に使用する補助アプリです。
      ココフォリア公式さま作、マルチデバイスオンラインセッションツール「CCFOLIA」で「シノビガミ」を遊ぶときの補助機能として役立てていただければと思います。
    </div><br />
  </div><br />
  <% if user_signed_in? %>
    <br />
    <%# GMの部屋作成フォーム %>
    <div class="form-wrap">
      <div class="form-title">
        部屋作成
      </div>
      <div>
        <%= form_with model: @room, local: true do |f| %>

          <%= render 'shared/errors_messages', model: f.object %>

          <div class="form-contents">
            <div class="field">
              <label>部屋名</label><span class="required-items"> 必須</span><br />
              <%= f.text_field :room_name, placeholder: "部屋名を入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>PC人数</label>(半角)<span class="required-items"> 必須</span><br />
              <%= f.text_field :player_number, placeholder: "PCの人数を入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>パスワード</label> (４文字以上)<span class="required-items"> 必須</span><br />
              <%= f.text_field :password, placeholder: "パスワードを入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>パスワード確認</label> (４文字以上)<span class="required-items"> 必須</span><br />
              <%= f.text_field :password_confirmation, placeholder: "パスワードを再度入力", class: "text_box" %>
            </div><br /><br />
            <div>
              <%= f.submit "部屋作成", class: "room-btn" %>
            </div><br />
          </div>
        <% end %>
      </div>
    </div><br /><br />
    <%# GMの部屋作成フォーム %>

    <%# プレイヤーの入室フォーム %>
    <div class="form-wrap">
      <div class="form-title">
        部屋入室
      </div>
      <div>
        <%= form_with model: @enter_room, url: roles_path, method: :post, local: true do |f| %>
          <div class="form-contents">

            <div class="error-display">
              <% if flash[:error] %>
                <% flash[:error].each do |e| %>
                  <%= e %><br />
                <% end %>
                <%# ["Role can't be blank", "Role is not a number", "Token can't be blank", "Password can't be blank", "Password is too short (minimum is 4 characters)"] %>
              <% end %>
            </div>

            <div class="field">
              <label>PC番号</label>(半角入力)<span class="required-items"> 必須</span><br />
              <%= f.text_field :role, placeholder: "PC番号を入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>招待コード</label><span class="required-items"> 必須</span><br />
              <%= f.text_field :token, placeholder: "招待コードを入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>パスワード</label><span class="required-items"> 必須</span><br />
              <%= f.text_field :password, placeholder: "部屋のパスワードを入力", class: "text_box" %>
            </div><br /><br />
            <div>
              <%= f.submit "部屋入室", class: "room-btn" %>
            </div><br />
          </div>
        <% end %>
      </div>
    </div>
  <% end %><br /><br />
      <%# プレイヤーの入室フォーム %>

  <div class="form-wrap">
    <div class="form-title">
      使用方法
    </div>
    <div class="sentences">
    <%# アプリの使い方を記載する %>
      ①GMは上記「部屋作成」ボタンで部屋を作成する。<br /><br />
      ②遷移先のページで「部屋名」「PC数」を入力し、「パスワード」は数字のみで任意で入力してから「作成」ボタンをクリックする。<br /><br />
      ③遷移先のプレイルームページでは以下の操作が可能。<br /><br />
      ・PC名 / 秘密 / 奥義 / 変調 / 感情 は各項目をダブルクリックすることで入力が可能になる。 <br />
      ・秘密と奥義はそれぞれの項目をクリックすることで、公開と未公開を切り替える。<br />
      ・変調と感情はそれぞれの項目にカーソルを持ってくることで状態をみることができる。<br />
    <%# アプリの使い方を記載する %>
    </div><br />
  </div>
</div>