<%= render "shared/header" %>

<div class="outer-form-wrap">
  <div class="form-wrap">
    <div class="form-title">
    概要
    </div>
    <div class="sentences">
      「忍びアシスト」は、河嶋陶一朗/冒険企画局さま作、忍術バトルRPG「シノビガミ」をプレイする際に使用する補助アプリです。
      「秘密」「奥義」「変調」「感情」の情報管理をする際に役立てていただければと思います。
    </div><br />
  </div><br />
  <% if user_signed_in? %>
    <br />
    <%# GMの部屋作成フォーム %>
    <div class="form-wrap">
      <div class="form-title">
        部屋作成
      </div>
      <div>
        <%= form_with model: @room, local: true do |f| %>

          <%= render 'shared/errors_messages', model: f.object %>

          <div class="form-contents">
            <div class="field">
              <label>部屋名</label><span class="required-items"> 必須</span><br />
              <%= f.text_field :room_name, placeholder: "部屋名を入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>PC人数</label>(半角で2〜８まで入力可能)<span class="required-items"> 必須</span><br />
              <%= f.text_field :player_number, placeholder: "PCの人数を入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>パスワード</label> (４文字以上)<span class="required-items"> 必須</span><br />
              <%= f.text_field :password, placeholder: "パスワードを入力", class: "text_box" %>
            </div>
            <div class="field">
              <label>パスワード確認</label> (４文字以上)<span class="required-items"> 必須</span><br />
              <%= f.text_field :password_confirmation, placeholder: "パスワードを再度入力", class: "text_box" %>
            </div><br /><br />
            <div>
              <%= f.submit "部屋作成", class: "room-btn" %>
            </div><br />
          </div>
        <% end %>
      </div>
    </div><br /><br />
    <%# GMの部屋作成フォーム %>

    <%# プレイヤーの入室フォーム %>
    <div class="form-wrap">
      <div class="form-title">
        部屋入室
      </div>
      <div>
        <%= render 'roles/enter_room' %>
      </div>
    </div>
  <% else %>
    <div class="form-wrap">
      <div class="form-title">
        ルーム利用
      </div>
      <div class="sentences">
        セッションルームを利用するには<br />お手数ですがログインしていただきますようお願い致します。<br /><br /><br />
      </div>
    </div>
  <% end %><br /><br />
      <%# プレイヤーの入室フォーム %>

  <div class="form-wrap">
    <div class="form-title">
      セッションルームの使い方
    </div>
    <div class="sentences">
      <%# アプリの使い方を記載する %>
      <div class="how-to_title">「忍びアシスト」の概要</div>
      <div>
        「忍びアシスト」は、忍術バトルRPG「シノビガミ」をプレイする際に必要な各キャラクターの「秘密」「奥義」「変調」「感情」をセッション中に管理しやすくするためのアプリです。<br />
        セッション中に情報が錯綜したり、セッション中のGMの負担があまりにも大きすぎたりしたこと、またキャラクター同士の関係性を記録したいということから、本アプリを作成しました。<br />
        快適で楽しいセッションの一助になればと思います。<br /><br />
        以下より、セッションルームでの「GMの操作方法」「PLの操作方法」の順に説明していきます。
      </div><br />

      <div class="how-to_title">GMの操作：セッションルームの準備</div>
      <div>
        「部屋作成」の欄にて、部屋名・PC人数・パスワード・パスワード確認の項目を入力し、「部屋作成」ボタンをクリックしてください。
        <div><%= image_tag("how_to_enter.png", class: "how-to_small_image") %></div>
        パスワードはPLが部屋へ入室する際に必要になります。<br /><br />
        画面が遷移したら、キャラクターの情報を入力してください。<br />
        <div><%= image_tag("prepare_session1.png", class: "how-to_image") %></div><br />
        「キャラクター情報を入力」をクリックし、キャラクター名・秘密・奥義を入力し、フォーム下部にある「追加」をクリックするとデータが保存されます。<br />
        データが保存されると、名前・秘密・奥義・変調・感情の項目が現れます。<br />
        <div><%= video_tag("prepare_session2.mp4", controls: true, muted: true, class: "how-to_image") %></div><br />
        秘密・奥義のカードにマウスを重ねると、各情報の追加・編集ができるボタンがあります。<br />
        追加ボタンをクリックすると、秘密または奥義を追加するフォームが現れ、内容を入力して「追加」ボタンをクリックすると該当の情報が追加されます。<br />
        <div><%= video_tag("prepare_session3.mp4", controls: true, muted: true, class: "how-to_image") %></div>
        また、「秘密1」や「奥義1」などクリックすると、それぞれの詳細を見ることができます。<br /><br />
        キャラクター名をクリックすると、キャラクター名を変更するフォームが開きます。<br />
        「変更」をクリックすると、キャラクター名が変更されます。<br />
        <div><%= image_tag("prepare_session4.png", class: "how-to_image") %></div>
        全てのキャラクター情報を入力し終えたら、右上に記載されている「招待コード」をコピーし、パスワード・PL番号と一緒にPLへ伝えましょう。<br /><br />
      </div>

      <div class="how-to_title">GMの操作：セッション中の操作</div>
      <div>
        セッション中に関わる操作は以下の通りです。<br /><br /><br />
        <span class="how-to_status">秘密・奥義・変調・感情 に共通する操作</span><br /><br />
        各カードにマウスを重ねると、それぞれの情報を管理するための吹き出しが現れます。<br />
        変調と感情はPLにも見える情報ですが、秘密と奥義はデフォルトでPLに見えない状態になっています。<br /><br /><br />

        <span class="how-to_status">秘密・奥義 に共通する操作</span><br /><br />
        秘密と奥義は同じ仕様なので、ここでは秘密を例に説明します。<br />
        「編集」では、内容を変更してから「編集」をクリックすると、選択された秘密の内容が編集されます。<br />
        <div><%= video_tag("session1.mp4", controls: true, muted: true, class: "how-to_image") %></div><br />
        「公開・非公開の設定」では、選択された秘密を誰に公開・非公開にしているかを確認・変更できます。<br />
        変更する際は、「非公開」という文字をクリックすると「公開」という文字に切り替わり、秘密が公開されます。<br />
        デフォルトでは「非公開」に設定されています。<br />
        <div><%= video_tag("session2.mp4", controls: true, muted: true, class: "how-to_image") %></div><br /><br />

        <span class="how-to_status">変調・感情に共通する操作</span><br /><br />
        変調と感情はほぼ同じ仕様なので、ここでは変調を例に説明します。<br />
        「追加/削除」ボタンをクリックすると、変調情報を追加・削除するフォームが現れます。<br />
        上部のフォームでは「変調を選択」部分をクリックすることで、変調を選択することができます。<br />
        選択完了後、「追加」ボタンをクリックすることで変調が追加されます。<br />
        下部のフォームでは、変調の横にある「削除×」ボタンをクリックすることで該当の変調を削除することができます。<br />
        <div><%= video_tag("session3.mp4", controls: true, muted: true, class: "how-to_image") %></div><br /><br />

        <span class="how-to_status">感情の操作</span><br /><br />
        上部のフォームにある「誰に」で、感情を向けるPCを選択することができます。<br />
        デフォルトで自分以外のPC番号の若いPCが選択されています。<br /><br />
      </div>

      <div class="how-to_title">GMの操作：セッション後の操作</div>
      <div>
        セッション後の操作を説明します。<br /><br />
        <span class="how-to_status">プレイ履歴作成</span><br /><br />
        このボタンをクリックするとプレイ履歴を作成するフォームへ遷移します。<br />
        プレイ履歴には、部屋名と各キャラクター情報(秘密・奥義・感情)がデフォルトで記載されます。<br />
        表題とセッション内容の修正完了後、「履歴作成」ボタンをクリックすることで、セッション履歴が作成されます。<br /><br />
        <span class="how-to_status">部屋削除</span><br /><br />
        このボタンをクリックすると部屋が削除されます。<br />
        部屋が削除されると、その回のセッション履歴を作れなくなります。<br />
      </div><br />

      <div class="how-to_title">PLの操作：セッション前</div>
      <div>
        セッション前の操作を説明します。<br />
        GMからPC番号・招待コード・パスワードの情報をもらってください。<br />
        「部屋入室」の欄にて、PC番号・招待コード・パスワードの項目を入力し、「部屋入室」ボタンをクリックします。
        <div><%= image_tag("pl_prepare_session.png", class: "how-to_small_image") %></div><br /><br />
      </div>
      <div class="how-to_title">PLの操作：セッション中</div>
      <div>
        セッション中の操作を説明します。<br /><br />
        <span class="how-to_status">秘密・奥義・変調・感情 に共通する操作</span><br /><br />
        各カードにマウスを重ねると、それぞれの情報を管理するための吹き出しが現れます。<br />
        秘密と奥義に関しては、自分のPCの情報またはGMが公開した情報しか見ることができません。<br /><br />
        以下の動画の例では、PLはPC番号1として入室し、GMはPC2の秘密をPC1に公開しています。<br />
        <div><%= video_tag("pl_session.mp4", controls: true, muted: true, class: "how-to_image") %></div><br /><br />
        <span class="how-to_status">変調・感情に共通する操作</span><br /><br />
        変調と感情はGMの仕様と同じなので、「GMの操作：セッション中の操作」の「変調・感情に共通する操作」をご参照ください。<br /><br />
      <%# アプリの使い方を記載する %>
    </div><br />
  </div>
</div>