<%= render "shared/second_header"%>
<% if flash[:error_msg] %>
  <br /><%= flash[:error_msg] %>
<% end %>
<% if @room.player_number <= 4 %>

  <div class="outer_status_frame">
    <% @room.player_number.times do |num| %>
      <%= render "char_info", num: num + 1 %>
    <% end %>
  </div>

<% else %>

  <div class="outer_status_frame">
    <% 4.times do |num| %>
      <%= render "char_info", num: num + 1 %>
    <% end %>
  </div>

  <div class="outer_status_frame">
    <% (@room.player_number - 4).times do |num| %>
      <%= render "char_info", num: num + 5 %>
    <% end %>
  </div>

<% end %>