<%= render "shared/second_header"%>

<div class="under_header">
  <%# エラーメッセージ表示部分 %>
  <div class="error-display">
    <div class="js-message-errors">
      <% if flash[:error_msg] %>
        <br /><%= flash[:error_msg] %>
      <% end %>
    </div>
  </div>
  <%# エラーメッセージ表示部分 %>

  <%# 招待コード表示 %>
  <div class="copy_invitation_code">
    <% if @role == 200 %>
      <div>招待コード</div>
      <div class="copy-box">
        <input name="code" type="text" value=<%= @room.token %> />
      </div>
    <%else %>
      <div style="font-size: 14px; border-bottom: 1px solid white;">部屋主</div>
      <div style="text-shadow: 1px 1px 3px red; font-size: 20px;"><%= @room.user.name%></div>
    <% end %>
  </div>
</div>
  <%# 招待コード表示 %>

<%# キャラクター情報表示 %>
<div class="outer_status_frame">
  <% @room.player_number.times do |num| %>
    <%= render "char_info", num: num + 1 %>
  <% end %>
</div>
<%# キャラクター情報表示 %>