<%= render 'shared/header' %>

<div class="outer-form-wrap">
  <div class="form-wrap">
    <div class="form-title">
      履歴の編集
    </div>
    <div class="form-contents">
      <%= form_with model: @session_log, url: session_log_path(@session_log.id), local: true do |f| %>

        <%= render 'shared/errors_messages', model: f.object %>

        <div class="field">
          <label>表題</label><span class="required-items"> 必須</span><br />
          <%= f.text_field :title, placeholder: "表題を入力", value: @session_log.title, class: "text_box" %>
        </div>
        <div class="field">
          <label>セッション内容</label><span class="required-items"> 必須</span><br />
          <%= f.text_area :log, placeholder: "セッション内容を入力", value: @session_log.log, class: "long_text_box3" %>
        </div><br />
        <div>
          <%= f.submit "履歴編集", class: "room-btn" %>
        </div><br />
      <% end %>
    </div>
  </div>
</div>