<div class="wrap-char-form" id="add-last-resort<%= num %>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <%= form_with model: @add_last_resort, url: room_last_resorts_path(room_token: token), method: :post do |f| %>
      <div class="form-title">
        奥義情報追加
      </div>
      <div class="form-contents">
        <% if flash[:error] && flash[:match] == "lr#{num}" %>
          <div class="error-msg">
            <ul>
              <li><%= "奥義を入力してください。" %></li>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <label for="alrltx-<%=num%>">奥義</label><span class="required-items"> 必須</span><br />
          <%= f.text_area :last_resort, placeholder: "奥義を入力", class: "long_text_box", id: "alrltx-#{num}" %>
          <%= f.hidden_field :character_id, value: selected_char.id, id: "alrci-#{num}" %>
          <%= f.hidden_field :pc_number, value: selected_char.pc_number, id: "alrpn-#{num}" %>
          <%= f.hidden_field :last_resort_n, value: lr_n, id: "alrlrn-#{num}" %>
        </div>
        <button class="add-btn">
          <%= f.submit "追加" %>
        </button>
      </div>
    <% end %>
  </div>
</div>