<div class="status_over_frame", data-target="last-resort-info<%= num %>">
  <div class="status_name">
    奥義
  </div>
  <div class="last_resort_bubble", id="last-resort-info<%= num %>">
    <div class="char-upper-display">
      <%# 奥義追加モーダル表示 %>
      <% if @role == 200 %>
      <div>
        <button class="add-charinfo-btn modal_form", data-target="add-last-resort<%= num %>">奥義追加</button>
        <% lr_n = @last_resorts.where(character_id: selected_char.id).length + 1 %>
        <%= render "last_resorts/last_resort_form", num: num, token: @room.token, selected_char: selected_char, lr_n: lr_n %>
      </div>
      <% end %>
      <%# 奥義追加モーダル表示 %>

      <%# 奥義公開モーダル表示 %>
      <% @last_resorts.each do |lr| %>
        <% if selected_char.id == lr.character_id %>
          <%= render 'open_last_resorts/open_close', num: num, selected_char: selected_char, lr: lr %>
        <% end %>
      <% end %>
      <div id="last-resorts-<%=num%>"></div>
      <%# 奥義公開モーダル表示 %>
    </div>
  </div>
</div>